<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% include 'favicon.html' %}
        <title>Error</title>
    </head>
    <body>
        <!-- Error -->
        <div style="font-size: 5vw; text-align: center; margin-top: 35vh">😓 죄송합니다.</div>
        <div style="font-size: 3vw; text-align: center;">{% block content %}{% endblock %}</div>
    </body>
</html>